html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: none;
  font-size: 100%;
  vertical-align: baseline;
  text-shadow: none; }

blockquote {
  margin-left: 40px; }

sub, sup {
  font-size: smaller;
  line-height: normal; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

:focus {
  outline: 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  cursor: help; }
